.header-font{
	font-size: 18px;
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	padding-top: 10px;
    padding-bottom: 6px;
    background-color: #BBBBBB;
}
.table-font-custom{
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
}
.table-custom{
    width: 85%;

}
.checkbox-label-custom{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding-bottom: 20px;
}
.style{
    display: inline;
}
.form-label-custom{
	/*margin-left: 10px;
    margin-right: 10px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.dropdown-custom{
	padding-left: 100px;
}
.dropdown-btn-custom{
	padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
   
    background-color: #C4D7E0;
}
.dropdown-menu-custom{
	padding-top: 1px;
    padding-bottom: 1px;
}
.label-custom{
	margin-right: 154px;
	margin-top: 20px;
}
.input-label-custom{
	border-radius: 5px;

}
.radio-btn-custom{
	padding-right: 150px;
}
.no-radio-custom{
	padding-left: 0px;
}
.agree-btn-custom{
	margin-top: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}